.Card{
    background-color: white;
    height: 300px;
    border-color: 2px solid black;
    display: flex;
    box-shadow: 1px 1px 8px 3px black;
    margin: 2%;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
}

.types{
    display: flex;
    flex-direction: row;
}

.fire{
    background-color: rgb(224, 19, 19);
}